// Colors
// https://colorhunt.co/palette/167040

$primaryColor:#272727;
$secundayColor:#50d890;
$colorOne:#ffffff;
$colorTwo:#F5F5F5;
$colorThree:#707070;

$font1 : "Gotham";
$font2: 'Raleway', sans-serif;

$h1 : 3.75rem;
$h2 : 2.8125rem;
$h3 : 2.1875rem;
$h4 : 1.375rem;
$p : 1.25rem;

$black: 800;
$bold : 600;
$normal : 400;
$light: 300;


