h1::-moz-selection, p::-moz-selection, a::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, img::-moz-selection {
  background: #50d890;
}

h1::selection, p::selection, a::selection, h2::selection, h3::selection, h4::selection, img::selection {
  background: #50d890;
}

.float-btns {
  position: fixed;
  bottom: 2.1125rem;
  right: 2.1125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 80px;
}

.float-btns .btn:not(:last-child) {
  margin-right: 0.625rem;
}

.float-btns .btn {
  width: 5.375rem;
  padding: 0.955rem;
  border-radius: 50%;
}

.float-btns .btn img {
  width: 100%;
  height: 100%;
}

.float-btns .lenguage-btn {
  background: #50d890;
}

.float-btns .theme-btn {
  background: #50d890;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  background: #F5F5F5;
}

.container {
  width: 90%;
  max-width: 1024px;
  height: auto;
  margin: 1.25rem auto;
  margin-bottom: 0;
}

.header {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  color: #707070;
  font-family: "Gotham";
}

.nav .nav__link {
  font-family: "Gotham";
  font-weight: 600;
  font-size: 1.25rem;
  color: #707070;
}

.nav .nav__link:not(:last-child) {
  margin-right: 1.25rem;
}

.nav .nav__link:active {
  -webkit-animation: clickGrow 1s ease forwards;
          animation: clickGrow 1s ease forwards;
}

.welcome {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
}

.welcome-text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  grid-row: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.welcome-text .welcome-text__title::before {
  content: " ";
  padding: 0.625rem;
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  background: #50d890;
  z-index: -10;
  position: relative;
  bottom: -1.875rem;
  left: -1.875rem;
  border-radius: 50%;
  -webkit-animation: grow 2s ease alternate infinite;
          animation: grow 2s ease alternate infinite;
}

.welcome-text .welcome-text__title {
  font-size: 3.75rem;
  font-family: "Gotham";
  color: #707070;
}

.welcome-text .welcome-text__title::first-letter {
  font-size: 1.25rem !important;
}

.welcome-text .welcome-text__quote {
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5625rem;
  margin: 1.25rem 0;
  padding-left: 0.625rem;
  border-left: 0.1875rem dashed #50d890;
  color: #707070;
}

.welcome-text .donate-btn {
  font-family: "Gotham";
  font-weight: 600;
  font-size: 1.25rem;
  background: #50d890;
  color: #ffffff;
  padding: 10px 60px;
  border-radius: 20px;
}

.welcome-img {
  grid-column: 3 / -1;
  grid-row: 1 / -1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 70vw;
  padding: 2.5rem;
}

.welcome-img svg {
  max-width: 100%;
  max-height: 100%;
}

.section:not(:last-child), .welcome {
  margin-bottom: 6.25rem;
}

.about-us {
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[3];
      grid-template-columns: repeat(3, minmax(250px, 1fr));
  -ms-grid-rows: auto (auto)[3];
      grid-template-rows: auto repeat(3, auto);
}

.about-us .title {
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  text-align: center;
  font-family: "Gotham";
  font-size: 2.8125rem;
  font-weight: 600;
  color: #707070;
}

.about-us .information {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  grid-row: 2 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.about-us .information .information__title {
  font-family: "Gotham";
  font-size: 2.1875rem;
  font-weight: 600;
  color: #707070;
  margin-bottom: 20px;
  position: relative;
}

.about-us .information .information__title::before {
  content: " ";
  padding: 10px;
  display: block;
  width: 40px;
  height: 40px;
  background: #50d890;
  z-index: -10;
  position: relative;
  bottom: -30px;
  left: -30px;
  border-radius: 50%;
  -webkit-animation: grow 2s ease alternate infinite;
          animation: grow 2s ease alternate infinite;
}

.about-us .information .information__quote {
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  color: #707070;
  line-height: 1.5625rem;
  padding-left: 10px;
  border-left: 3px dashed #50d890;
}

.about-us .rocket {
  grid-column: 3 / -1;
  grid-row: 2 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.625rem;
}

.about-us .rocket img {
  width: 12.5rem;
  height: 12.5rem;
}

.how-to-apply {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.how-to-apply .title {
  font-family: "Gotham";
  font-size: 2.8125rem;
  font-weight: 600;
  text-align: center;
  color: #707070;
  margin-bottom: 0.625rem;
}

.how-to-apply .how-to-apply__video {
  outline: none;
  margin: 0 auto;
  min-width: 50%;
  max-width: 1000px;
  height: 25rem;
}

.our-programs {
  height: auto;
}

.our-programs .title {
  font-family: "Gotham";
  font-size: 2.8125rem;
  text-align: center;
  margin-bottom: 10px;
  color: #707070;
}

.our-programs .programs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.our-programs .program {
  margin: 10px;
  border: 1px solid #707070;
  border-radius: 15px;
  max-width: 30%;
  min-width: 17.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 2.5rem 1.25rem;
  color: #707070;
}

.our-programs .program__title {
  font-family: "Raleway", sans-serif;
  font-size: 2.1875rem;
  margin-bottom: 5px;
}

.our-programs .program__subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 1.375rem;
  margin-bottom: 10px;
}

.our-programs .program__quote {
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5625rem;
}

.contact-us {
  height: auto;
  padding: 1.25rem;
}

.contact-us .title {
  position: relative;
  font-family: "Gotham";
  font-size: 2.8125rem;
  font-weight: bold;
  color: #707070;
  text-align: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.contact-us .subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center;
  margin: 5px 0;
}

.contact-us .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-us .social-media .social-media__icon {
  margin: 10px;
  width: 50px;
  height: 50px;
}

.contact-us .social-media .social-media__icon:active {
  -webkit-animation: clickGrow 1s ease forwards;
          animation: clickGrow 1s ease forwards;
}

.footer {
  width: 100%;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #707070;
}

.footer p {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
}

@-webkit-keyframes grow {
  0% {
  }
  60% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes grow {
  0% {
  }
  60% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes clickGrow {
  0% {
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes clickGrow {
  0% {
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 13px;
  }
  .welcome-text {
    grid-column: 1 / -1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .welcome-img {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .about-us {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about-us .information {
    grid-column: 1 / -1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .about-us .rocket {
    grid-column: 1 / -1;
    grid-row: 5 / -1;
  }
}

@media screen and (max-width: 750px) {
  html {
    font-size: 12px;
  }
  nav {
    display: none;
  }
}

@media screen and (max-width: 300px) {
  html {
    font-size: 10px;
  }
}

#school {
  -webkit-animation: bubble 1s ease infinite alternate;
          animation: bubble 1s ease infinite alternate;
}

#pasto2 {
  -webkit-animation: bubble 1s ease infinite alternate .5s;
          animation: bubble 1s ease infinite alternate .5s;
}

#pasto3 {
  -webkit-animation: bubble 1s ease infinite alternate .2s;
          animation: bubble 1s ease infinite alternate .2s;
}

#pasto1 {
  -webkit-animation: bubble 1s ease infinite alternate .3s;
          animation: bubble 1s ease infinite alternate .3s;
}

@-webkit-keyframes bubble {
  from {
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%);
  }
  to {
  }
}

@keyframes bubble {
  from {
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%);
  }
  to {
  }
}
/*# sourceMappingURL=style.css.map */