@import "variables";
@import "helpers";



html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body{
    background: $colorTwo;

}

.container{
    width: 90%;
    max-width: 1200px;
    height: auto;
    
    margin: 1.25rem auto;
    margin-bottom:0;

    // background: rgba(255, 0, 0, 0.377);
}

.header{
    height: 10vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.logo{
    color: $colorThree;
    font-family: $font1;
}

.nav{

    .nav__link{
        font-family: $font1;
        font-weight: $bold;
        font-size: $p;

        color: $colorThree;
        
    }

    .nav__link:not(:last-child){
        margin-right: 1.25rem;
    }

    .nav__link:active{
        animation: clickGrow 1s ease forwards;
    }

}

.welcome{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}


.welcome-text{
    max-width:550px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;


    .welcome-text__title::before{
        content: " ";
        padding: 0.625rem;
        display: block;
        width: 3.5rem;
        height: 3.5rem;
        background: $secundayColor;
    
        z-index: -10;
    
        position: relative;
        bottom: -1.875rem;
        left: -1.875rem;
    
        border-radius: 50%;
        
        animation: grow 2s ease alternate infinite;
    }
    

    .welcome-text__title{
        font-size: $h1;
        font-family: $font1;
        color: $colorThree;
    }

    .welcome-text__title::first-letter{
        font-size: $p !important;
    }

    .welcome-text__quote{
        font-family: $font2;
        font-size: $p;
        line-height: $p + 0.3125rem;

        margin: 1.25rem 0;
        
        padding-left: 0.625rem;
        border-left: 0.1875rem dashed $secundayColor;
        
        color: $colorThree;
    }

    .donate-btn{
        font-family: $font1;
        font-weight: $bold;
        font-size: $p;
        

        background: $secundayColor;
        color: $colorOne;
        
        padding: 10px 60px;
        border-radius: 20px;

    }

}

.welcome-img{
    width: 18.75rem;
    height: 18.75rem;

    padding: 1.25rem;
    

    img{
        width: 100%;
        height: 100%;
    }
}

.main{

}

// Separation
.section:not(:last-child), .welcome{
    margin-bottom: 6.25rem;
}

.about-us{
    height: auto;

    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-template-rows: auto repeat(3, auto);

    .title{
        grid-column: 1 / -1;
        grid-row: 1 / span 1;
        
        text-align: center;
    
        font-family: $font1;
        font-size: $h2;
        font-weight: $bold;

        color: $colorThree;

    }

    .information{
        grid-column: 1 / span 2;
        grid-row: 2 / -1 ;
        display: flex;
        flex-direction: column;
        

        padding: 10px;
        
        .information__title{
            font-family: $font1;
            font-size: $h3;
            font-weight: $bold;

            color: $colorThree;
            
            margin-bottom: 20px;

            position: relative;
        }

        .information__title::before{
            content: " ";
            padding: 10px;
            display: block;
            width: 40px;
            height: 40px;
            background: $secundayColor;

            z-index: -10;

            position: relative;
            bottom: -30px;
            left: -30px;

            border-radius: 50%;

            animation: grow 2s ease alternate infinite;
        }

        .information__quote{
            font-family: $font2;
            font-size: $p;
            font-weight: $light;
            
            color: $colorThree; 
            line-height: $p + 0.3125rem;

            padding-left: 10px;
            border-left: 3px dashed $secundayColor;
        }
    }

    .rocket{
        grid-column: 3 / -1;
        grid-row: 2 / -1 ;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
        padding: 0.625rem;
        
        img{            
            width: 12.5rem;
            height: 12.5rem;

        }
    }
}

.how-to-apply{
    
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;

    .title{
        font-family: $font1;
        font-size: $h2;
        font-weight: $bold;

        text-align: center;
        color: $colorThree;

        margin-bottom: 0.625rem;
    }

    .how-to-apply__video{
        outline: none;
        margin: 0 auto;

        min-width: 70%;
        max-width: 1000px;
        height: 25rem;
    }
}


.our-programs{
    height: auto;

    .title{
        font-family: $font1;
        font-size: $h2;
        text-align: center;
        margin-bottom: 10px;
        
        color: $colorThree;
    }

    .programs{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
    }

    .program{
        margin: 10px;
        border: 1px solid $colorThree;
        border-radius: 15px;
        max-width: 30%;
        min-width: 17.625rem;
        
        
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;

        padding: 2.5rem 1.25rem;
        color: $colorThree;
    }

    .program__title{
        font-family: $font2;
        font-size: $h3;
        margin-bottom: 5px;
    }
    
    .program__subtitle{
        font-family: $font2;
        font-size: $h4;
        margin-bottom: 10px;
    }

    .program__quote{
        font-family: $font2;
        font-size: $p;
        line-height: $p + 0.3125rem;
    }

}

.contact-us{
    height: auto;
    padding: 1.25rem;

    
    .title{
        position: relative;

        font-family: $font1;
        font-size: $h2;
        font-weight: bold;

        color: $colorThree;
        
        text-align: center;
        flex-basis: 100%;
    }

    .subtitle{
        font-family: $font2;
        font-size: $p;
        font-weight: $light;

        text-align: center;
        margin: 5px 0;
    }

    .social-media{
        display: flex;
        justify-content: center;
        align-items: center;

        .social-media__icon{
            margin: 10px;

            width: 50px;
            height: 50px;
        
        }

        .social-media__icon:active{
            animation: clickGrow 1s ease forwards;
        }
    }
}

.footer{
    width: 100%;
    height: 15vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: $colorThree;

    p{

        text-align: center;

        font-family: $font2;
        font-size: $p;
        font-weight: $light;
    }
}


@keyframes grow{
    0%{

    }

    60%{
        transform: scale(.7);
    }
    
    100%{
        transform: scale(1);
        
    }
}

@keyframes clickGrow{
    0%{

    }

    100%{
        transform: scale(1.1);
    }
}



// Responsive design

@media screen and (max-width:1000px){

    html{
        font-size: 13px;
    }
    
    .welcome-text{
        justify-content: center;
        align-items: center;
        text-align: center;

    }
    
    // About us
    .about-us{

        grid-template-columns: 1fr;

        .information{
            grid-column: 1 / -1;
            grid-row: 2 / 4;

            justify-content: center;
            align-items: center;
            text-align: center;

        }
        
        .rocket{
            grid-column: 1 / -1;
            grid-row: 5 / -1;
        }

    }
}

@media screen and (max-width:600px){
    html{
        font-size: 10px;
    }
    
    nav{
        display: none;
    }
}

@media screen and (max-width:300px){
    html{
        font-size: 10px;
    }
}